node_modules
*.log
dist
.output
.nuxt
.env
.idea/
.DS_Store
.vite-devtools
packages/devtools-vite/src/public/fonts
packages/devtools-vite/src/app/public/fonts
packages/devtools-vite/runtime
.rolldown
*.tsbuildinfo
