@import 'codemirror-theme-vars/base.css';

:root {
  --cm-font-family: 'Input Mono', 'FiraCode', monospace;
}

html:not(.dark) {
  --cm-foreground: #8e8f8b;
  --cm-background: #0000;
  --cm-comment: #a0ada0;
  --cm-string: #b56959;
  --cm-literal: #2f8a89;
  --cm-number: #296aa3;
  --cm-keyword: #1c6b48;
  --cm-function: #6c7834;
  --cm-boolean: #1c6b48;
  --cm-constant: #a65e2b;
  --cm-deleted: #a14f55;
  --cm-variable: #ad944c;
  --cm-class: #2993a3;
  --cm-builtin: #ab5959;
  --cm-property: #b58451;
  --cm-namespace: #b05a78;
  --cm-punctuation: #8e8f8b;
  --cm-decorator: #bd8f8f;
  --cm-regex: #ab5e3f;
  --cm-json-property: #698c96;
  --cm-selection-background: #44444410;
  --cm-line-number-gutter: #fafafa50;
}

html.dark {
  --cm-foreground: #858585;
  --cm-background: #0000;
  --cm-comment: #758575;
  --cm-string: #d48372;
  --cm-literal: #429988;
  --cm-keyword: #4d9375;
  --cm-boolean: #1c6b48;
  --cm-number: #6394bf;
  --cm-variable: #c2b36e;
  --cm-function: #a1b567;
  --cm-deleted: #a14f55;
  --cm-class: #54b1bf;
  --cm-builtin: #e0a569;
  --cm-property: #dd8e6e;
  --cm-namespace: #db889a;
  --cm-punctuation: #858585;
  --cm-decorator: #bd8f8f;
  --cm-regex: #ab5e3f;
  --cm-json-property: #6b8b9e;
  --cm-line-number: #888888;
  --cm-line-highlight-background: #444444;
  --cm-selection-background: #44444450;
  --cm-line-number-gutter: #1a1a1a50;
}


.CodeMirror {
  height: inherit !important;
  width: 100% !important;
  font-family: var(--cm-font-family) !important;
  font-size: 13px !important;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: var(--cm-background) !important;
}

.CodeMirror-dialog {
  @apply !border-main !py-1;
}

#CodeMirror-search-field {
  @apply !border-main !border !rounded !outline-none !border-solid !px-1.5 !py-0.25;
}
